.app-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0fr 2fr;
}

.sidebar {
  height: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}
