body{
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.settingsContainer {
  display: grid;
  grid-template-columns: 0fr 2fr;
  border: 30px solid #00274d;
  background-color: #00274d;
  /* overflow: scroll; */
}

.settings-content {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #ebf3f5;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  
  height: 100vh; /* Full page height */
}
.settings-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.settings-mainHeading {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  margin-top: 50px;
}

.settings-buttonDiv {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

.settings-button {
  padding: 15px 25px;
  background-color: #00274d;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  font-weight: 600;
  cursor: pointer;
}

.settings-collaboratorList {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  gap: 18px;
  /* overflow-y: auto; */
  max-height: 300px; /* Set a height limit */
  padding-bottom: 150px; /* Create space for the form */
}

.settings-singleCollaborator {
  width: 100%;
  min-height: 50px;
  background-color: #00274d;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-listHeading {
  color: #ffffff;
  font-size: medium;
  padding-left: 10px;
}

.settings-collaboratorButtons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  align-items: center;
}

.settings-collaboratorEdit,
.settings-collaboratorDelete {
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  font-size: small;
}

/* Bottom form */
.settings-bottomForm {
  margin-top: 2rem;
  /* padding: 20px; */
  padding-right: 30px;
  background-color: #ffff;
  border-radius: 10px;
  position: relative;
}

.close-icon-wrapper {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  border-radius: 100%;
  padding: 7px;
  background-color: #00274d;
}

@media (max-width:655px) {
  .settingsContainer {
    border: none;
  }
  .container {
    border-radius: 0;
    margin-right: 0;
  }
  .settings-content {
    padding: 0px 10px 0px 20px;
    border-radius: 0;
  }
  
}