.container {
  display: grid;
  grid-template-columns: 0fr 2fr;
}

.social-content {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.textarea{
  border-radius: 5px;
  margin-top: 5px;
}