*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 80px; 
    position: fixed;
    top: 0;
}
.navbar-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    margin: auto;
}
.navbar-main .left-contents{
    display: flex;
    align-items: center;   
    width: 30%;
    justify-content: space-around; 
    color: white;
    font-size:15px;
}
.navbar-main .right-contents{
display: flex;
align-items: center;
gap: 30px;
}
.navbar-main .right-contents button{
    padding: 15px 30px;
    border-radius:30px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #f03ced, #6b3df5);
}

.navbar-main .right-contents .chat-button{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}
.navbar-main .right-contents .chat-button .chat-img-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-main .right-contents .chat-button .chat-img-container img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    cursor: pointer;
}
.white-background{
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-main{
    width: 90%;
    background-color: #17044d;
    display: flex;

}
.container-main .left-container{
    width: 70%;
    height: 100%;;

}
.container-main .left-container .left-contents{
    width: 100%;
    padding: 200px 50px 100px 120px;
    
}
.container-main .left-container .left-contents .main-contents-container{
    width: 100%;
}
.container-main .left-container .left-contents .main-contents-container .heading-container{
        width: 100%;
        margin-left: 50px;
        
}
.container-main .left-container .left-contents .main-contents-container .heading-container h1{
    font-size: 149px;
    color: white;
    font-weight: 500;
    line-height: 150px;
}


.container-main .left-container .left-contents .main-contents-container .box-contents-container{
    width: 300px;
    height: 100px;
    background-color: white;
    margin-top: 80px;
    border-radius: 20px;
    margin-left: 50px;
    
}
.container-main .right-container{
    height: auto;
    width: 30%;
}
.container-main .right-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.middle-box{
    position: absolute;
    top: 50%;
    right: 0;
    height: 150px;
    width: 40px;
    background-color: #17044d;
}