.container {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar.pinned {
  width: 200px;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo img {
  height: 40px;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.collapsed .logo img {
  opacity: 0;
  visibility: hidden;
}

.pin-button {
  margin: 10px;
  align-self: flex-end;
  background-color: #08265f;
  color: #ebf3f5;
}

.menu {
  flex: 1;
  overflow-y: auto;
  background-color: #ebf3f5;
}

.menu .ant-menu-item {
  justify-content: center;
}

.sidebar.pinned .menu .ant-menu-item {
  justify-content: start;
}

/* Menu Item Text Hidden in Collapsed Mode */
.menu .ant-menu-item {
  transition: padding 0.3s ease-in-out;
}

.sidebar.collapsed .ant-menu-item > span {
  display: inline-flex;
}

/* Selected Menu Item */
.menu .ant-menu-item-selected {
  background-color: #08265f !important; /* Highlight selected item */
}

.menu .ant-menu-item:hover {
  background-color: #d6e7ea;
}

.menu .ant-menu-item-selected {
  background-color: #08265f !important;
  color: #ebf3f5 !important;
}

.menu .ant-tooltip {
  z-index: 9999;
}
