/* Main container for the header */
.headerMain {
  display: flex;
  justify-content: space-between;

  padding: 10px 5px;
}


.settingsSearchBar {
  display: flex;
  align-items: center;
  background-color: #00274d; 
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  max-width: 65%;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
  flex: 1;
  border: none;
  background: transparent;
  color: #ffffff; 
  font-size: 16px;
  padding: 10px;
  outline: none;
  margin-left: 10px;
}

.searchIcon {
  color: #ffffff; 
  font-size: 18px;
}

.rightSection {
  display: flex;
  align-items: center; 
  gap: 15px; 
  margin-top: 30px;
}

.bellIcon {
  position: relative;
  color: #00274d; 
  font-size: 24px;
  cursor: pointer;
}

.bellIcon::after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%; 
  border: 2px solid #ffffff; 
}

.avatarDiv {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00274d;
}

.headerNotificationDropdown {
  display: none; 
  position: absolute; 
  top: 40px; 
  right: 0;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px #00274d; 
  padding: 10px;
  width: 200px; /* Set a fixed width */
  border-radius: 5px;
}

/* Visible Dropdown */
.headerNotificationDropdown.visible {
  display: block; /* Show the dropdown when visible */
}

/* List inside the dropdown */
.headerNotificationList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerNotificationList li {
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0; /* Add a divider between items */
  font-size: 14px;
  color: #00274d;
}

.headerNotificationList li:last-child {
  border-bottom: none; /* Remove the bottom border for the last item */
}
